.navbar
{
    height:50px;
    width:90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul
{
    display: flex;
    gap:25px;
}
li
{
    list-style: none;
    
}
li a
{
   color:#DBE2EF;
   text-decoration: none;
}