body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #DDE6ED;
  color: #27374D;
}

.main {
  background: #27374D;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  width: 90%;
  margin: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  color: #DDE6ED;
  margin: 0;
}

.links ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.links li {
  list-style: none;
}

.links a {
  color: #9DB2BF;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 3px;
}

.links a:hover {
  color: #DDE6ED;
  border-bottom: 2px solid #DDE6ED;
}