/* MAIN WRAPPER */
.chat-wrapper {
    background: #e5ddd5;
    display: flex;
    margin: 0%;
    padding: 0%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FIXED WIDTH CONTAINER (500px) */
.chat-container {
    width: 400px;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background: #e5ddd5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */
.chat-header {
    width: 400px;
    padding: 15px 20px;
    background: #075e54;
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Apply ellipsis directly to the text element */
.chat-header h2 {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* CHAT VIEW */
.chat-view {
    flex: 1;
    width: 400px;
    padding: 20px;
    min-height: 510px;
    color: black;
    background-color: rgb(245, 250, 244);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* CHAT BUBBLES */
.chat-bubble {
    max-width: 75%;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 15px;
    line-height: 1.4;
    word-break: break-word;
}

/* Sender → RIGHT */
.sender {
    background: #d6f7bd;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

/* Receiver → LEFT */
.receiver {
    background: #ffffff;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

/* INPUT BAR */
.chat-input-bar {
    width: 400px;
    padding: 10px;
    background: #f0f0f0;
    display: flex;

    position: sticky;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.chat-input-bar input {
    flex: 1;
    padding: 12px;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}

.chat-input-bar button {
    padding: 12px 20px;
    background: #075e54;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.chat-input-bar button:hover {
    background: #064e47;
}