/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FULL SCREEN + CENTER + NO SCROLL */
html,
body {
    width: 100%;
    background: #e5ddd5;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN WRAPPER */
.signup-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.signup-card {
    background: #ffffff;
    width: 100%;
    min-width: 350px;
    padding: 25px 28px;
    border-radius: 18px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.18);
    text-align: center;
    animation: fadeIn .3s ease-in-out;
}

/* Title */
.signup-title {
    font-size: 26px;
    font-weight: 700;
    color: #075E54;
    margin-bottom: 20px;
}

/* Inputs */
.input-group {
    margin-bottom: 15px;
}

.signup-input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1.8px solid #cccccc;
    font-size: 15px;
    outline: none;
    transition: .2s;
}

.signup-input:focus {
    border-color: #128C7E;
}

/* Button */
.signup-btn {
    width: 100%;
    padding: 12px;
    background: #128C7E;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}

.signup-btn:hover {
    background: #0d6e63;
}

/* Login text */
.signin-text {
    margin-top: 15px;
    font-size: 14px;
    color: black;
}

.signin-link {
    color: #128C7E;
    font-weight: 600;
    text-decoration: none;
}

.signin-link:hover {
    text-decoration: none;
}

/* Fade animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}